@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FB Backup App</h1>
    <p class="lead">FB Backup App is a free web app to back up posts from Freethinkers group. </p>
    <p><a href="/PostBackup/Index" class="btn btn-primary btn-lg">Stored Posts &raquo;</a></p>
</div>
